example/.vs/
bin/
temp/
clean starter project/clean starter project/.vs/
clean starter project/third_party/Box2D/
clean starter project/third_party/engine/ContactListener.h
clean starter project/third_party/engine/
clean starter project/third_party/SDL2/
clean starter project/third_party/x64/
clean starter project/third_party/x86/
